<a href="https://colab.research.google.com/github/anjalisgrl/MyCaptain/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
import pandas as pd

In [0]:
data = {
    "col1" : [1,2,3,4],
    "col2" : [5,6,7,8]
}

In [0]:
new_lib = pd.DataFrame(data)

In [9]:
new_lib

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [0]:
new_lib = pd.DataFrame(data, index=["row1","row2","row3","row4"])

In [11]:
new_lib

      col1  col2
row1     1     5
row2     2     6
row3     3     7
row4     4     8

In [12]:
new_lib.loc['row3']

col1    3
col2    7
Name: row3, dtype: int64

In [20]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [0]:
root_path = '/content/gdrive/My Drive/Colab Notebooks/marine.csv'

In [24]:
!ls /content/gdrive/My Drive/Colab Notebooks/marine.csv

ls: cannot access '/content/gdrive/My': No such file or directory
ls: cannot access 'Drive/Colab': No such file or directory
ls: cannot access 'Notebooks/marine.csv': No such file or directory

In [0]:
url ='https://raw.githubusercontent.com/anjalisgrl/MyCaptain/master/marine%20-%20marine.csv'

In [0]:
dataframe = pd.read_csv(url)

In [27]:
dataframe

    year                   category  ... data_value flag
0   2007  Fisheries and aquaculture  ...       43.1    R
1   2007  Fisheries and aquaculture  ...       26.3    F
2   2007  Fisheries and aquaculture  ...       42.7    R
3   2007  Fisheries and aquaculture  ...        0.4    F
4   2007  Fisheries and aquaculture  ...   715722.0    F
5   2007  Fisheries and aquaculture  ...   582377.0    F
6   2007  Fisheries and aquaculture  ...    14004.0    F
7   2008  Fisheries and aquaculture  ...       39.9    R
8   2008  Fisheries and aquaculture  ...       14.2    F
9   2008  Fisheries and aquaculture  ...       40.3    R
10  2008  Fisheries and aquaculture  ...        0.3    F
11  2008  Fisheries and aquaculture  ...   564630.0    F
12  2008  Fisheries and aquaculture  ...   583605.0    F
13  2008  Fisheries and aquaculture  ...    12774.0    F
14  2009  Fisheries and aquaculture  ...       35.6    R
15  2009  Fisheries and aquaculture  ...       17.0    F
16  2009  Fisheries and aquaculture  ...       38.3    R
17  2009  Fisheries and aquaculture  ...        0.4    F
18  2009  Fisheries and aquaculture  ...   688801.0    F
19  2009  Fisheries and aquaculture  ...   567367.0    F

[20 rows x 8 columns]

In [28]:
dataframe.head(2)

   year                   category  ... data_value flag
0  2007  Fisheries and aquaculture  ...       43.1    R
1  2007  Fisheries and aquaculture  ...       26.3    F

[2 rows x 8 columns]

In [29]:
dataframe.tail(3)

    year                   category  ... data_value flag
17  2009  Fisheries and aquaculture  ...        0.4    F
18  2009  Fisheries and aquaculture  ...   688801.0    F
19  2009  Fisheries and aquaculture  ...   567367.0    F

[3 rows x 8 columns]

In [31]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        20 non-null     int64
 1   category    20 non-null     object
 2   variable    20 non-null     object
 3   units       20 non-null     object
 4   magnitude   20 non-null     object
 5   source      20 non-null     object
 6   data_value  20 non-null     float64
 7   flag        20 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ KB

In [0]:
year_col = dataframe['year']

In [33]:
year_col

0     2007
1     2007
2     2007
3     2007
4     2007
5     2007
6     2007
7     2008
8     2008
9     2008
10    2008
11    2008
12    2008
13    2008
14    2009
15    2009
16    2009
17    2009
18    2009
19    2009
Name: year, dtype: int64

In [0]:
year_list = list(year_col)

In [36]:
year_list

[2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009]

In [37]:
type(year_col)

pandas.core.series.Series

In [38]:
type(year_list)

list

In [39]:
dataframe

    year                   category  ... data_value flag
0   2007  Fisheries and aquaculture  ...       43.1    R
1   2007  Fisheries and aquaculture  ...       26.3    F
2   2007  Fisheries and aquaculture  ...       42.7    R
3   2007  Fisheries and aquaculture  ...        0.4    F
4   2007  Fisheries and aquaculture  ...   715722.0    F
5   2007  Fisheries and aquaculture  ...   582377.0    F
6   2007  Fisheries and aquaculture  ...    14004.0    F
7   2008  Fisheries and aquaculture  ...       39.9    R
8   2008  Fisheries and aquaculture  ...       14.2    F
9   2008  Fisheries and aquaculture  ...       40.3    R
10  2008  Fisheries and aquaculture  ...        0.3    F
11  2008  Fisheries and aquaculture  ...   564630.0    F
12  2008  Fisheries and aquaculture  ...   583605.0    F
13  2008  Fisheries and aquaculture  ...    12774.0    F
14  2009  Fisheries and aquaculture  ...       35.6    R
15  2009  Fisheries and aquaculture  ...       17.0    F
16  2009  Fisheries and aquaculture  ...       38.3    R
17  2009  Fisheries and aquaculture  ...        0.4    F
18  2009  Fisheries and aquaculture  ...   688801.0    F
19  2009  Fisheries and aquaculture  ...   567367.0    F

[20 rows x 8 columns]

In [40]:
dataframe[dataframe['data_value']>=1000]

    year                   category  ... data_value flag
4   2007  Fisheries and aquaculture  ...   715722.0    F
5   2007  Fisheries and aquaculture  ...   582377.0    F
6   2007  Fisheries and aquaculture  ...    14004.0    F
11  2008  Fisheries and aquaculture  ...   564630.0    F
12  2008  Fisheries and aquaculture  ...   583605.0    F
13  2008  Fisheries and aquaculture  ...    12774.0    F
18  2009  Fisheries and aquaculture  ...   688801.0    F
19  2009  Fisheries and aquaculture  ...   567367.0    F

[8 rows x 8 columns]

In [41]:
dataframe[dataframe['data_value']>=1000]['year']

4     2007
5     2007
6     2007
11    2008
12    2008
13    2008
18    2009
19    2009
Name: year, dtype: int64

from google.colab import drive
drive.mount('/content/gdrive')